mat-sidenav-container {
  width: 100%;
  /* height: calc(100% - 64px); */
  height: 100%;
  position: fixed;
}

mat-sidenav {
  padding: 1%;
  height: calc(100% - 64px);
  box-sizing: border-box;
  text-align: center;
  background-color: #d9e7f1;
}

mat-accordion {
  box-sizing: border-box;
  padding: 0;
}

.list {
  width: 100%;
  padding: 0;
}

.nav-item {
  margin: 1%;
  height: 50px;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding-left: 10%;
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  background-color: rgb(236, 241, 236);
}

.item-content {
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.active {
  color:rgb(77, 175, 175);
  font-size: larger;
}

h1 {
  margin-bottom: 0;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

mat-icon {
  margin-right: 5px;
}

.sidenav-full {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav-content {
  padding: 1%;
  box-sizing: border-box;
  background-color: rgb(213, 225, 238);
}